name: E2E Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      browser_mode:
        description: 'Run tests in Headless or Headed mode'
        required: true
        default: 'Headless'
        type: choice
        options:
          - Headless
          - Headed

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-playwright playwright
          playwright install

      - name: Run E2E tests
        run: |
          if [ "${{ github.event_name == 'workflow_dispatch' && github.event.inputs.browser_mode == 'Headed' }}" == "true" ]; then
              HEADLESS_FLAG="--headed"
          else
              HEADLESS_FLAG="--headless"
          fi
          python -m pytest tests/end_to_end.py $HEADLESS_FLAG
